body{
    background-color: rgb(34, 1, 34);
    text-decoration:none;
}


a{
text-decoration: none;
color: white;
}

.color1 { 
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size:xx-large;
    font-weight: bold;
}
   


.slide{
    margin-top: 10px;

}
.slide img{
 margin: cover;   

height: 80vh;
position: center;
}